# nodejs
node_modules/
npm-debug.log
yarn-error.log

# macos
.DS_Store

# winos
Thumbs.db

# jetbrains
.idea/

# vscode
.vscode/

# browser
*.crx
*.zip

# build artifacts
shared/design/generated-tokens.css
scripts/
